

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --text-color:#3B3A3A;
    --subtitle-color:#3D5975;
    --secondary-color: #EDCD1F;
    --main-color:#1E2D3B;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}


/*HEADER*/
header nav{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

header nav .logo{
    width: 400px;
    cursor: pointer;
}

header nav .logo a{
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: var(--secondary-color);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header nav .logo a div{
    width: 65%;
    font-weight: 700;
    font-size: 20px;
    color: var(--main-color);
}

header nav .logo a div span{
    font-weight: 400;
}

header nav .logo a img{
    height: 100%;
    transition: filter 0.5s ease;
}

header nav .logo:hover a img{
    filter: invert();
}

header nav .menu_contenedor{
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header nav .menu_contenedor .hamburguer{
    color:#fff;
    background-color: transparent;
    cursor: pointer;
    
    font-size: 2.5em;
    border: none;
    margin-right: 1em;
    display: none;

}

header nav .menu_contenedor .hamburguer:focus{
    outline: none;
}

header nav .menu_contenedor .menu{
    list-style: none;
}

header nav .menu_contenedor .menu li{
    display: inline-block;
    margin:0 20px;
}

header nav .menu_contenedor .menu li a{
    color: #fff;
    transition: all 0.7s ease;
}

header nav .menu_contenedor .menu li a:hover{
    font-size: 18px;
    color:var(--secondary-color);
}

/*BANNER*/

header .banner{
    display: flex;
    justify-content: center;
    height: 1000px;
    padding-top:100px;
}

header .banner .fondo:after {
    display: flex;
    content:"";
    position:absolute;
    top:100px;
    left:0;
    width:100%;
    height:900px;
    background:rgba(0,0,0,0.4);
    z-index:0;
}

header .banner .fondo{
    display: flex;
    width: 100%;
    
}

header .banner .fondo video{
    width: 100%;
    object-fit: cover;

}

header .banner .text{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .banner h1{
    margin-top: 2em;
    width: 70%;
    font-size: 54px;
    text-align: center;
    line-height: 1.3em;
    color:#fff;
}

header .banner a{
    text-align: center;
}

header .banner a:hover img{
    width: 50%;
    filter: drop-shadow(0px 20px 2px #EDCD1F)
}

header .banner a img{
    width: 70%;
    margin-top: 30px;
    transition: all 0.5s ease;
    
}

/*MAIN*/

main .main-item{
    padding: 50px 0;
    width: 75%;
    margin: 0 auto;  
}

main h2{
    font-size: 54px;
    color: var(--main-color);
}

main h3{
    color: var(--subtitle-color);
    font-size: 24px;
}

main p{
    color:var(--text-color);
    line-height: 1.7em;
}

/*SERVICES*/
main .services h2{
    text-align: center;
}

main .services span{
    display:block;
    width: 150px;
    height: 10px;
    margin: 20px auto 40px auto;
    background-color: var(--secondary-color);
}

main .services .items{
    display: flex;
    justify-content: space-between;
}

main .services .services-item{
    width: 30%;
}

main .services .services-item .item-img{
    width: 100%;
    height: 200px;
}

main .services .services-item h3{
    padding: 20px 0;
}

main .services .services-item .item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*NOSOTROS*/
main .nosotros .nosotros-item1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .nosotros .nosotros-item1 .nosotros-text{
    width: 45%;
}

main .nosotros .nosotros-item1 .nosotros-text span{
    display:block;
    width: 150px;
    height: 10px;
    margin: 20px 0 40px 0;
    background-color: var(--secondary-color);
}

main .nosotros .nosotros-item1 .nosotros-img{
    width: 50%;
    height: 500px;
}

main .nosotros .nosotros-item1 .nosotros-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


main .nosotros .nosotros-info{
    position: absolute;
    left:0;
    width: 100%;
    height: 150px;
    background-color: var(--secondary-color);
}

main .nosotros .nosotros-info .nosotros-info-contenedor{
    width: 75%;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;  
    margin: 0 auto; 
    flex-wrap: wrap;
    
}


main .nosotros .nosotros-info .nosotros-info-contenedor .nosotros-info-item{
    width: 15%;
    text-align: center;
    color: var(--subtitle-color);
    min-width: 144px;
}

main .nosotros .nosotros-info .nosotros-info-contenedor .nosotros-info-item span{
    font-size: 48px;
    font-weight: 900;
}

main .nosotros .nosotros-info .nosotros-info-contenedor .nosotros-info-item p{
    font-size: 20px;
    font-weight: 700;
    color: var(--subtitle-color);
    line-height: 1em;
}

main .proyectos{
    margin-top: 100px;
}

main .proyectos .proyectos-gallery{
    display: grid;
    gap:25px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-auto-flow: dense row;
}

main .proyectos h2{
    text-align: center;
}

main .proyectos span{
display:block;
    width: 150px;
    height: 10px;
    margin: 20px auto 40px auto;
    background-color: var(--secondary-color);
}

main .proyectos .gallery-item{
    height: 400px;
    position: relative;
}



/*main .proyectos .gallery-item::after{
    content:"";
    position:absolute;
    top:0;
    left: 0;
    background:rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    z-index:10;
    
}*/

main .proyectos .gallery-item h3{
    position: absolute;
    z-index: 20;
    line-height: 400px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
}

main .proyectos .gallery-item:hover h3{
    opacity: 1;
    
}

main .proyectos .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-out;
}

main .proyectos .gallery-item:hover img{
    opacity: 0.2;
}


/*CLIENTES*/

main .clientes .clientes-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
}

main .clientes h2{
    text-align: center;
}

main .clientes span{
    display:block;
    width: 150px;
    height: 10px;
    margin: 20px auto 40px auto;
    background-color: var(--secondary-color);
}

main .clientes .clientes-contenedor .clientes-item{
    width: 20%;
    height: 100%;
    min-width: 150px;
}

main .clientes .clientes-contenedor .clientes-item img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

main .clientes .clientes-contenedor .clientes-item:hover img{
    width: 85%;
    height: 85%;
}

/*CONTACTO*/

main .contacto h2{
    text-align: center;
    margin-top: 50px;
}

main .contacto span{
    display:block;
    width: 150px;
    height: 10px;
    margin: 20px auto 40px auto;
    background-color: var(--secondary-color);
}

main .contacto #map {
	height: 500px;
	width: 100%;
}

main .contacto .contacto-info{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

main .contacto .contacto-info .contacto-info-col1{
    width: 45%;
}

main .contacto .contacto-info .contacto-info-col1 form{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
}

main .contacto .contacto-info .contacto-info-col1 form label{
    margin:10px 0;
    font-style:italic;
}

main .contacto .contacto-info .contacto-info-col1 form input{
    width: 100%;
    height: 35px;
    padding: 10px;
}

main .contacto .contacto-info .contacto-info-col1 form input:focus{
    color:var(--main-color);
    outline:1px solid #1E2D3B;
}

main .contacto .contacto-info .contacto-info-col1 form textarea{
    resize: none;
    padding: 10px;
}

main .contacto .contacto-info .contacto-info-col1 form button{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border:none;
    font-weight: 700;
    align-self: flex-end;
    transition: all 0.3s ease;
}

main .contacto .contacto-info .contacto-info-col1 form button:hover{
    background-color: var(--secondary-color);
    color:var(--main-color);
}

main .contacto .contacto-info .contacto-info-col2{
    width: 45%;   
}

main .contacto .contacto-info .contacto-info-col2 .col2-item{
    margin-bottom: 55px;
}

main .contacto .contacto-info .contacto-info-col2 .col2-item:last-child h3{
    color: var(--main-color); 
    font-weight: 900;
    line-height: 1em;
}

/*FOOTER*/

footer{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: var(--secondary-color);
    align-items:center;
    padding: 0 20px;
}

footer .copyrigth{
    width: 50%;
    color: var(--main-color);
    text-align: center;
}

footer .socials{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

footer .socials a{
    height: 75%;
    margin: 0 10px;
}

footer img{
    height: 100%;
    margin: 0 20px;
    transition: all 0.3s ease;
}

footer img:hover{
    filter:invert()
}

@media (max-width:992px){
    header nav .menu_contenedor{
        width: 100%;
    }

    header nav .menu_contenedor .menu{
        display: none;
        flex-direction: column;
        padding-top: 2em;
    }

    header nav .menu.show{
        display: flex;
        position: absolute;
        top:100px;
        background-color: var(--main-color);
        width: 100vw;
        height: 100vh;
    }

    header nav .menu_contenedor .hamburguer{
        display: block;
    }

    header nav .menu_contenedor .menu li{
        text-align: center;
        padding: 2em;
        border-bottom: 1px solid var(--subtitle-color);
        font-size: 18px;
    }

    header nav .logo a div{
        font-size: 18px;
        
    }

    header nav .menu_contenedor .menu li{
        display: block;
    }

    main .main-item{
        width: 90%;
    }

    main .services .items{
        flex-direction: column;
        justify-content: center;
    }

    main .services .services-item{
        width: 100%;
    }

    main .services .services-item .item-img{
        width: 60%;
        height: 300px;
        margin: 0 auto;
    }

    main .clientes .clientes-contenedor{
        justify-content: center;
    }

    main .clientes .clientes-contenedor .clientes-item{
        padding: 1em;
    }
}

@media (max-width:780px){
    header nav .logo a div{
        font-size: 16px;
    }

    header nav .logo a div{
        font-size: 16px;
    }

    header .banner h1{
        font-size: 38px;
    }

    main .services .services-item .item-img{
        width: 80%;
        height: 300px;
    }

    main .nosotros .nosotros-item1{
        flex-direction: column;
    }

    main .nosotros .nosotros-item1 .nosotros-text{
        width: 100%;
    }

    main .nosotros .nosotros-item1 .nosotros-img{
        width: 80%;
    }

    main .nosotros .nosotros-info {
        justify-content: center;
        height: 250px;
    }

    main .proyectos{
        margin-top: 200px;
    }

    main .contacto{
        margin-top: 200px;
    }
    
    main .contacto .contacto-info{
        flex-direction: column;
    }

    main .contacto .contacto-info .contacto-info-col1,
    main .contacto .contacto-info .contacto-info-col2{
        width: 100%;
    }

    main .contacto .contacto-info .contacto-info-col2{
        margin-top: 50px;
    }

    footer{
        flex-direction: column;
        height: 120px;
        padding: 10px;
    }

}


















